<% provide(:title, "About") %>
<body>
    <h1>About</h1>
    <p>OGTable stands for "Open Gaming Table", and is a simple social network for organizing a tabletop gaming group, be it for roleplaying games like Dungeons and Dragons or for board games, like Ticket to Ride, or Risk. </p>
    <p>OGTable is made and maintained by Brady Klein, hosted on Heroku, and built on Ruby on Rails and Bootstrap.</p>
    <p>OGTable uses cookies for maintaining your login, if you choose to remember your login. We never sell your information to any third parties, and we don't have any ads in our site.</p>
</body>