<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  For any issues, report them on <a href="https://github.com/bklein18/ogtable">this site's GitHub repo</a>. You can also suggest features/improvements in the issues there.
</p>