<% @user ||= current_user %>
<div class="stats">
    <a href="<%= groups_user_path(@user) %>">
        <strong id="subscribed" class="stat">
            <%= @user.groups.count %>
        </strong>
        group(s) subscribed to
    </a>
</div>