<footer class="footer">
  <small>
    Proudly powered by Ruby on Rails and Bootstrap
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://bradyklein.com/">My Blog</a></li>
    </ul>
  </nav>
  <%= link_to image_tag("https://rubyonrails.org/images/rails-logo.svg", alt: "Rails logo"), 'http://rubyonrails.org/' %>
</footer>
