<footer class="footer">
  <small>
    Proudly powered by Ruby on Rails and Bootstrap
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://bradyklein.com/">My Blog</a></li>
    </ul>
  </nav>
</footer>
